.App {
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App > button {
  margin-top: 30px;
  background-color: #2cc5fa;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 3px;
}

.table {
  margin: 0 40px;
}
.table button {
  border: none;
  padding: 10px;
  margin: 5px;
  min-width: 100px;
  border-radius: 3px;
}
.btn-remove {
  background-color: rgb(245, 87, 87);
  color: white;
}

table {
  border-collapse: collapse;
  border-style: hidden;
}

table td,
table th {
  border: 1px solid black;
}
table td {
  min-width: 200px;
}

button {
  cursor: pointer;
}
